form {
  display: flex;
  flex-direction: column;
  width: 330px;
  margin: auto;
}
.form-elem{
  position: relative;
}
.form-elem .glyphicon, .form-elem .fa{
  position: absolute;
  padding: 10px 0px 0px 10px;
  pointer-events: none;
}
.form-elem input {
	padding: 5px 5px;
  width: 100%;  
}
.form-elem>.glyphicon+input, .form-elem>.fa+input{
  padding-left: 30px;
}
.form-elem ~ .form-elem{
  margin-top: 5px;
}
img.logo{
  display:block; 
  margin: auto;
  width: 70%;  
  content:url(//cdn2.iconfinder.com/data/icons/rounded_square_icons__books_by_deleket-dexzmr/320/Recipe_Book.png); 
}