@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');
.center-block{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*
  https://www.w3schools.com/cssref/css_selectors.asp 
  https://css-tricks.com/snippets/css/a-guide-to-flexbox/
  https://developer.mozilla.org/es/docs/Web/CSS/CSS_Flexible_Box_Layout/Aligning_Items_in_a_Flex_Container
*/
form {
  display: flex;
  flex-direction: column;
  margin: auto;
}
.form-field{
  position: relative;
}
.form-field .glyphicon, .form-field .fa{
  position: absolute;
  padding: 10px 0px 0px 10px;
  pointer-events: none;
}
.form-field input, .form-field textarea {
	padding: 5px 5px;
  width: 100%;
}
.form-field>.glyphicon+input, .form-field>.fa+input{
  padding-left: 30px;
}
.form-field ~ .form-field{
  margin-top: 5px;
}
.form-field+button {
  margin-top: 5px;
}